<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.tfdn.efi-backups</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/foux/GIT/Perso/Snippets/efi_backup.sh</string>
		<string>/Users/foux/EFI_Backups/</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/foux/GIT/Perso/Snippets</string>
</dict>
</plist>
